:root {
  --default-heading-color-dark: #FFF;
  --default-text-color-dark: #EBEBD3;
  --default-highlight-color: #588B8B;
  --default-highlight-color-second: #EA9010;
  --default-highlight-color-active: #D98324;
}

:root, [data-bs-theme="dark"] {
  // Bootstrap adjustements
  --bs-link-color: #EA9010;
  --bs-link-hover-color: #D98324;
  --bs-code-color: #EBEBD3;
}

// Bootstrap adjustments
.btn-primary {
  --bs-btn-bg: #D98324;
  --bs-btn-hover-bg: #EA9010;
  --bs-btn-active-bg: #D98324;
  --bs-btn-disabled-bg: #D98324;
  --bs-btn-border-color: #D98324;
  --bs-btn-hover-border-color: #EA9010;
  --bs-btn-active-border-color: #D98324;
  --bs-btn-disabled-border-color: #D98324;
}

.navbar-nav {
  --bs-nav-link-color: #FFF;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #D98324;
}

// end

// Bootstrap additions
.pr-4 {
  padding-right: 1.5rem !important;
}

.my-6 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mt-6 {
  margin-top: 4rem;
}

.mb-6 {
  margin-bottom: 4rem;
}

.mt-7 {
  margin-top: 6rem;
}

.mb-7 {
  margin-bottom: 6rem;
}

.border-right {
  border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.clear {
  clear: both;
}

.navbar-parent-nav {
  padding-left: 2rem;
  list-style: decimal;
}

.navbar-sub-nav {
  padding-left: 1.25rem;
  list-style: lower-alpha;

  li a {
    --bs-nav-link-font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) {
  .my-xl-6 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }
  .mt-xl-6 {
    margin-top: 4rem !important;
  }
}

@media only screen and (min-width: 400px) {
  .w-xsm-50 {
    width: 50% !important;
  }
}
// end

// highlight.js adjustments
.hljs {
  background: transparent;
}

// end

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1,
.h1 {
  font-size: 3.052rem;
}

h2,
.h2 {
  font-size: 2.441rem;
}

h3,
.h3 {
  font-size: 1.953rem;
}

h4,
.h4 {
  font-size: 1.563rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

a,
li {
  text-decoration: none;
}

.hero-detail {
  pointer-events: none;
}

.hero-detail-element.sphere {
  position: relative;
  width: 12.5%;
  height: auto;
  float: left;
  border-radius: 50%;
  -webkit-transform: scale(.3);
  transform: scale(.3);
  background-color: #1B1E22;
  opacity: .65;

  svg {
    width: 100%;
    height: auto;
  }

  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      -webkit-animation: hero-detail-scale 2s #{.2 * ($i - 1)}s infinite;
      animation: hero-detail-scale 2s #{.2 * ($i - 1)}s infinite;
    }
  }
}

@-webkit-keyframes hero-detail-scale {
  0% {
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }
  35%, 65% {
    -webkit-transform: scale(.65);
    transform: scale(.65);
  }
  65%, 100% {
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }
}

@keyframes hero-detail-scale {
  0% {
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }
  35%, 65% {
    -webkit-transform: scale(.65);
    transform: scale(.65);
  }
  65%, 100% {
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }
}

#doc-main-nav {
  position: relative;
  left: -250px;
  max-width: 300px;
  width: 300px;
  padding-right: 50px;
  pointer-events: all;
  transition: left 200ms ease-in;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 10px;
    background-color: var( --bs-body-color, #adb5bd );
    -webkit-animation: signal-ping 2s infinite;
    animation: signal-ping 2s infinite;
    opacity: .2;
  }

  @-webkit-keyframes signal-ping {
    0% {
      opacity: .2;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: .2;
    }
  }

  @keyframes signal-ping {
    0% {
      opacity: .2;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: .2;
    }
  }

  &:hover {
    left: 0;

    &::after {
      content: none;
    }
  }
}

#doc-main {
  margin: -2rem 0;
}

.doc-article {
  margin-bottom: 3rem;
  padding: 2rem 0;
}

.doc-article-inner .doc-sub-article {
  margin-bottom: 2rem;
  padding: 2rem 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.doc-article:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.488rem;
  }

  h2,
  .h2 {
    font-size: 2.074rem;
  }

  h3,
  .h3 {
    font-size: 1.728rem;
  }

  h4,
  .h4 {
    font-size: 1.44rem;
  }

  h5,
  .h5 {
    font-size: 1.2rem;
  }

  h6,
  .h6 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1400px) {
  #doc-main-nav {
    left: 0;
    max-width: 350px;
    width: 350px;
    padding-right: 0;

    &::after {
      content: none;
    }
  }
}

@media only screen and (min-width: 1200px) {
  #doc-main-nav {
    left: 0;
    padding-right: 0;

    &::after {
      content: none;
    }
  }
}

@media only screen and (max-width: 900px) {
  .doc-article {
    margin-bottom: 2rem;
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 768px) {
  #doc-main-nav {
    left: -280px;
    padding-right: 20px;
  }

  #doc-main {
    margin: -1.5rem 0;
  }

  .doc-article,
  .doc-article-inner .doc-sub-article {
    margin-bottom: 1rem;
    padding: 1.5rem 0;
  }
}

@media only screen and (max-width: 600px) {
  h1,
  .h1 {
    font-size: 1.802rem;
  }

  h2,
  .h2 {
    font-size: 1.602rem;
  }

  h3,
  .h3 {
    font-size: 1.424rem;
  }

  h4,
  .h4 {
    font-size: 1.266rem;
  }

  h5,
  .h5 {
    font-size: 1.125rem;
  }

  h6,
  .h6 {
    font-size: 1rem;
  }

  #doc-main {
    margin: -1.35rem 0;
  }

  .doc-article,
  .doc-article-inner .doc-sub-article {
    margin-bottom: 1rem;
    padding: 1.35rem 0;
  }
}

@media only screen and (max-width: 500px) {
  #doc-main-nav {
    left: -230px;
    max-width: 250px;
    width: 250px;
    padding-right: 20px;

    &::after {
      width: 6px;
    }
  }
}